HOST=localhost
PORT=3300

DB_HOST=localhost
DB_PORT=5432
DB_USER=product_catalog_user
DB_PASSWORD=product_catalog_password
DB_NAME=product_catalog_db
DB_SSLMODE=

DB_MAX_OPEN_CONNS=5
DB_MAX_IDLE_CONNS=2
DB_MAX_LIFETIME=6h
DB_MAX_IDLE_TIME=15m